<main>
	
	<!-- ============================================================= SECTION – PORTFOLIO ============================================================= -->

<section id="popular-posts">
				<div class="container inner-top-md">
					<br>
					<div class="row">
						<div class="col-sm-12">
							<div id="accordion" class="panel-group">
								<div class="panel panel-default">			  
									
									<div class="panel-heading">
										<h4 class="panel-title">
											<a class="panel-toggle" data-toggle="collapse" data-parent="#accordion" href="#content">
												<span>인기있는 공모전</span>
											</a>
										</h4>
									</div><!-- /.panel-heading -->
									
									<div id="content" class="panel-collapse collapse in">
										<div class="panel-body">
											<div id="owl-popular-posts" class="owl-carousel owl-item-gap-sm">
												
												<div class="item">
													<a href="blog-post.html">
														<figure>
															<figcaption class="text-overlay">
																<div class="info">
																	<h4>Vintage Bicycles</h4>
																	<p>Interactive</p>
																</div><!-- /.info -->
															</figcaption>
															<%=image_tag "banner1.jpg"%>
														</figure>
													</a>
												</div><!-- /.item -->
												<div class="item">
													<a href="blog-post.html">
														<figure>
															<figcaption class="text-overlay">
																<div class="info">
																	<h4>Vintage Bicycles</h4>
																	<p>Interactive</p>
																</div><!-- /.info -->
															</figcaption>
															<%=image_tag "banner2.jpg"%>
														</figure>
													</a>
												</div><!-- /.item -->
												<div class="item">
													<a href="blog-post.html">
														<figure>
															<figcaption class="text-overlay">
																<div class="info">
																	<h4>Vintage Bicycles</h4>
																	<p>Interactive</p>
																</div><!-- /.info -->
															</figcaption>
															<%=image_tag "banner3.jpg"%>
														</figure>
													</a>
												</div><!-- /.item -->
												<div class="item">
													<a href="blog-post.html">
														<figure>
															<figcaption class="text-overlay">
																<div class="info">
																	<h4>Vintage Bicycles</h4>
																	<p>Interactive</p>
																</div><!-- /.info -->
															</figcaption>
															<%=image_tag "banner4.jpg"%>
														</figure>
													</a>
												</div><!-- /.item -->
												<div class="item">
													<a href="blog-post.html">
														<figure>
															<figcaption class="text-overlay">
																<div class="info">
																	<h4>Vintage Bicycles</h4>
																	<p>Interactive</p>
																</div><!-- /.info -->
															</figcaption>
															<%=image_tag "banner5.jpg"%>
														</figure>
													</a>
												</div><!-- /.item -->
												
												<div class="item">
													<a href="blog-post.html">
														<figure>
															<figcaption class="text-overlay">
																<div class="info">
																	<h4>Simpli Nota</h4>
																	<p>Identity</p>
																</div><!-- /.info -->
															</figcaption>
															<%=image_tag "banner6.jpg"%>
														</figure>
													</a>
												</div><!-- /.item -->
												
												<div class="item">
													<a href="blog-post.html">
														<figure>
															<figcaption class="text-overlay">
																<div class="info">
																	<h4>Vinyl Records</h4>
																	<p>Identity</p>
																</div><!-- /.info -->
															</figcaption>
															<%=image_tag "banner7.jpg"%>
														</figure>
													</a>
												</div><!-- /.item -->
												<div class="item">
													<a href="blog-post.html">
														<figure>
															<figcaption class="text-overlay">
																<div class="info">
																	<h4>Vinyl Records</h4>
																	<p>Identity</p>
																</div><!-- /.info -->
															</figcaption>
															<%=image_tag "banner8.jpg"%>
														</figure>
													</a>
												</div><!-- /.item -->
												<div class="item">
													<a href="blog-post.html">
														<figure>
															<figcaption class="text-overlay">
																<div class="info">
																	<h4>Vinyl Records</h4>
																	<p>Identity</p>
																</div><!-- /.info -->
															</figcaption>
															<%=image_tag "banner9.jpg"%>
														</figure>
													</a>
												</div><!-- /.item -->
												<div class="item">
													<a href="blog-post.html">
														<figure>
															<figcaption class="text-overlay">
																<div class="info">
																	<h4>Vinyl Records</h4>
																	<p>Identity</p>
																</div><!-- /.info -->
															</figcaption>
															<%=image_tag "banner10.jpg"%>
														</figure>
													</a>
												</div><!-- /.item -->
												
											</div><!-- /.owl-carousel -->
										</div><!-- /.panel-body -->
									</div><!-- /.content -->
									
								</div><!-- /.panel -->
							</div><!-- /.accordion -->
						</div><!-- /.col -->
					</div><!-- /.row -->
				</div><!-- /.container -->
			</section>
<section id="portfolio">

<!--<div class="container inner">-->
<!--	<div class="row">-->
<!--		<div class="col-md-8 col-sm-9 center-block text-center">-->
<!--			<header>-->
<!--				<h1>3 Columns details grid portfolio</h1>-->
<!--				<p>Magnis modipsae voloratati andigen daepeditem quiate re porem que aut labor. Laceaque eictemperum quiae sitiorem rest non restibusaes.</p>-->
<!--			</header>-->
<!--		</div><!-- /.col -->
<!--	</div><!-- /.row -->
<!--</div><!-- /.container -->


<br>

<div class="row">
	<div class = col-sm-4></div>
  	<div class="col-xs-6 col-sm-4" style="float:center" >
 		<form id="search" class="navbar-form search" role="search">
		<input type="search" name="search" class="form-control" placeholder="원하는 정보를 입력하세요">
			<button type="submit" class="btn btn-default btn-submit icon-right-open"></button>
		</form>
	</div>
</div>
<br>
	
<div class="container inner-bottom">
<div class="row">
<div class="col-sm-12 portfolio">
	
	<ul class="filter text-center">
		<li><a href="#" data-filter="*" class="active">전체</a></li>
		<li><a href="#" data-filter=".one">학술/논문</a></li>
		<li><a href="#" data-filter=".two">광고/마케팅</a></li>
		<li><a href="#" data-filter=".three">영상/사진</a></li>
		<li><a href="#" data-filter=".four">아이디어/슬로건</a></li>
		<li><a href="#" data-filter=".five">기타</a></li>
	</ul><!-- /.filter -->
	
	<ul class="isotope items col-3 gap">
	    
	    <% @contests.all.each do |contest| %>
	    
	    <% case contest.area %>
	    <% when '학술/논문' %>
	    		<% @field="one" %>
	    <% when '광고/마케팅' %>
	    	    <% @field="two" %>
	    <% when '영상/사진' %>
	    	    <% @field="three" %>
	    <% when '아이디어/슬로건' %>
	    	    <% @field="four" %>
	    <% when '기타' %>
	    	    <% @field="five" %>
	   	<% end %>
	   	
			<li class="item thumb <%= @field %>">
				<figure>
				
					<div class="icon-overlay icn-link">
						<a href="/home/info_g/<%=contest.id %>"><img src="<%=contest.imgurl%>"</a>
					</div><!-- /.icon-overlay -->
					
					<figcaption class="bordered no-top-border">
						<div class="info">
							<h4><a href="/home/info_g/<%=contest.id %>"><%= contest.name %></a></h4>
							<p><%= contest.area %></p>
						</div><!-- /.info -->
					</figcaption>
					
				</figure>
			</li><!-- /.item -->
		
		<% end %>
		
		
		<% @contests.all.each do |contest| %>
	    
	    <% case contest.area %>
	    <% when '학술/논문' %>
	    		<% @field="one" %>
	    <% when '광고/마케팅' %>
	    	    <% @field="two" %>
	    <% when '영상/사진' %>
	    	    <% @field="three" %>
	    <% when '아이디어/슬로건' %>
	    	    <% @field="four" %>
	    <% when '기타' %>
	    	    <% @field="five" %>
	   	<% end %>
	   	
			<li class="item thumb <%= @field %>">
				<figure>
				
					<div class="icon-overlay icn-link">
						<a href="/home/info_g/<%=contest.id %>"><img src="<%=contest.imgurl%>"</a>
					</div><!-- /.icon-overlay -->
					
					<figcaption class="bordered no-top-border">
						<div class="info">
							<h4><a href="/home/info_g/<%=contest.id %>"><%= contest.name %></a></h4>
							<p><%= contest.area %></p>
						</div><!-- /.info -->
					</figcaption>
					
				</figure>
			</li><!-- /.item -->
		
		<% end %>
		

	</ul><!-- /.items -->
	
</div><!-- /.col -->
</div><!-- /.row -->
</div><!-- /.container -->
</section>
	
	<!-- ============================================================= SECTION – PORTFOLIO : END ============================================================= -->
	
	
	<!-- ============================================================= SECTION – SHARE ============================================================= -->
	
	<!--<section id="share" class="light-bg">-->
	<!--	<div class="container">-->
			
	<!--		<div class="col-sm-4 reset-padding">-->
	<!--			<a href="#" class="btn-share-md">-->
	<!--				<p class="name">Facebook</p>-->
	<!--				<i class="icon-s-facebook"></i>-->
	<!--				<p class="counter">1080</p>-->
	<!--			</a>-->
	<!--		</div><!-- /.col -->
			
	<!--		<div class="col-sm-4 reset-padding">-->
	<!--			<a href="#" class="btn-share-md">-->
	<!--				<p class="name">Twitter</p>-->
	<!--				<i class="icon-s-twitter"></i>-->
	<!--				<p class="counter">1263</p>-->
	<!--			</a>-->
	<!--		</div><!-- /.col -->
			
	<!--		<div class="col-sm-4 reset-padding">-->
	<!--			<a href="#" class="btn-share-md">-->
	<!--				<p class="name">Google +</p>-->
	<!--				<i class="icon-s-gplus"></i>-->
	<!--				<p class="counter">963</p>-->
	<!--			</a>-->
	<!--		</div><!-- /.col -->
			
	<!--	</div><!-- /.container -->
	<!--</section>-->
	
	<!-- ============================================================= SECTION – SHARE : END ============================================================= -->
	
</main>